<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>G
<body style="background-color: rgb(226, 205, 236);">
    <img src="/Img/Img_Bandera/@ViewBag.pais.imgBandera" width="400">
    <b><font size=5px><br>
    -&emsp;@ViewBag.pais.Nombre<br>
    -&emsp;@ViewBag.pais.Poblacion<br>
    -&emsp;@ViewBag.pais.FechaIndependecia<br>
    -&emsp;@ViewBag.pais.AtractivosTuristicos</b></font>
</body>
</html>